body {
    background-image: url("../../images/footer-img.png");
    background-repeat:no-repeat;
    background-size:contain;
    background-position:bottom;
}

div {
    clear: left;
}

.container-fluid {
    padding: 0;
}

.navbar {
    background-color: #333333;
    margin-bottom: 15px;
}

.center {
	margin: 0 auto;
}

.card {
	border: none;
}

.card-img-top {
    width: 90%;
	margin: 0 auto;
	border: none;
}

video {
	width: 550px;
}

#footer {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    background-color: #fc4c02;
}

.navbar-collapse.collapse.in {
  display: block!important;
}


/*Center align navbar menu */
#navHeaderCollapse {
    margin: auto;
    width: 330px;
}

/*Center align hamburger icon */
#hamburger {
    margin: auto;
    width: 75px;
}