div {
    clear: left;
}

.navbar {
    background-color: black;
    margin-bottom: 15px;
}

.center {
	margin: 0 auto;
}

.card {
	border: none;
}

.card-img-top {
    width: 90%;
	margin: 0 auto;
	border: none;
}

video {
	width: 550px;
}