body {
    background-image: url("../../images/footer-img.png");
    background-repeat:no-repeat;
    background-size:contain;
    background-position:bottom;
}

div {
    clear: left;
}

.container-fluid {
    padding: 0;
}

.navbar {
    background-color: #333333;
    margin-bottom: 15px;
}

.stravabadge {
    display:inline-block;
    background-color:#FC4C02;
    color:#fff;
    padding:5px 10px 5px 30px;
    font-size:11px;
    font-family:Helvetica, Arial, sans-serif;
    white-space:nowrap;
    text-decoration:none;
    background-repeat:no-repeat;
    background-position:10px center;
    border-radius:3px;
    background-image:url("../../images/logo-strava-echelon.png");
}

.center {
	margin: 0 auto;
}

.card {
	border: none;
}

.card-img-top {
    width: 90%;
	margin: 0 auto;
	border: none;
}

video {
	width: 550px;
}

#footer {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    background-color: #fc4c02;
}

.navbar-collapse.collapse.in {
  display: block!important;
}

#accident {
    margin: 20px 0px 20px 0px;
}

circle.dot {
    fill-opacity: 100 !important;
    r: 3 !important;
}

#distance > svg > g > g.chart-body > g.dc-tooltip-list > g > circle:nth-child(69) {
    fill: black !important;
    fill-opacity: 100 !important;
    r: 7 !important;
}

#average > svg > g > g.chart-body > g.dc-tooltip-list > g > circle:nth-child(69) {
    fill: black !important;
    fill-opacity: 100 !important;
    r: 7 !important;
}

#distance > svg > g > g.chart-body > g.dc-tooltip-list > g > circle:nth-child(69):hover {
    fill: #ff0000 !important;
}

#average > svg > g > g.chart-body > g.dc-tooltip-list > g > circle:nth-child(69):hover {
    fill: #ff0000 !important;
}

